* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0000FF;
    color: #fff;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

section {
    padding: 70px 30px;
    margin-top: 70px;
}

h1, h2, h3 {
    text-align: center;
    padding: 40px;
    color: #000000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

ul {
    list-style-type: none;
}

ul li {
    margin: 10px 0;
}

footer {
    background-color: #808080;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

table {
width: 100%;
border-collapse: collapse;
margin: 20px 0;
}
table, th, td {
border: 1px solid #ddd;
}
th, td {
padding: 10px;
text-align: left;
}
th {
background-color:  #800000;
color: #f4f4f4;
text-transform: uppercase;
}
td {
background-color: #fefefe;
}
ul {
list-style-type: disc;
margin: 10px 0 0 20px;
}
i {
color: #666;
}


@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
